<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.billthefarmer.editor"
    android:installLocation="auto"
    tools:ignore="GoogleAppIndexingWarning">

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <application
      android:allowBackup="true"
      android:icon="@drawable/ic_launcher"
      android:label="@string/appName"
      android:theme="@style/AppDarkTheme"
      tools:ignore="AllowBackup">

    <activity
	android:name="Editor"
	android:exported="true"
        android:windowSoftInputMode="stateHidden|adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter
          android:scheme="http" tools:ignore="AppLinkUrlError">
        <action android:name="android.intent.action.EDIT" />
        <action android:name="android.intent.action.SEND" />
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/*" />
      </intent-filter>
    </activity>

    <activity
        android:name="Shortcut"
        android:exported="true"
        android:label="@string/newFile"
        android:theme="@android:style/Theme.NoDisplay">
      <intent-filter>
        <action android:name="android.intent.action.CREATE_SHORTCUT" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="org.billthefarmer.editor.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/filepaths" />
    </provider>

  </application>

</manifest>
